
#sendVerificationCodeForm {
    width: 100%;
    max-width: 500px; 
    margin:auto; 
    padding: 10px; 
    border: 2px solid #ccc; 
}


.form-group {
    margin-bottom: 12px; /* Отступ между группами формы */
    margin-left: 50px;
    font-size: 22px;
    margin-right: 50px;
}


label {
    text-align: center;
    font-weight: bold; 
    display: block; 
    margin-bottom: 10px; 
}


input {
    text-align: center;
    width: 100%; 
    padding: 10px; 
    font-size: 18px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}


#verifyCodeSection {
    display: none; 
}

.button-wrapper {
    text-align: center;
}
